<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <span class="self-center text-2xl text-white font-semibold whitespace-nowrap dark:text-white">MovieDB</span>
        </div>
        <div class="hidden md:block">
          <div class="ml-10 flex items-baseline space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            
              <a routerLink="/" [ngClass]="cssClasses('/')">Home</a>
            
              <a routerLink="/movies" [ngClass]="cssClasses('/movies')" class="">Movies</a>
            
              <a routerLink="/actors" [ngClass]="cssClasses('/actors')">Actors</a>
            
              <a routerLink="/directors" [ngClass]="cssClasses('/directors')">Directors</a>
            
            
          </div>
        </div>
      </div>
      </div>
    </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="md:hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pb-3 pt-2 sm:px-3">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <a routerLink="/" [ngClass]="cssClasses('/')">Home</a>

      <a routerLink="/movies" [ngClass]="cssClasses('/movies')" class="">Movies</a>

      <a routerLink="/actors" [ngClass]="cssClasses('/actors')">Actors</a>

      <a routerLink="/directors" [ngClass]="cssClasses('/directors')">Directors</a>
    </div>
    
  </div>
</nav>

<div class="w-4/5 m-auto mt-5">
  <router-outlet></router-outlet>
</div>


