<form class="max-w-full ml-5"
      [formGroup]="movieForm"
      (ngSubmit)="$event.preventDefault(); submitForm()">
  <div class="flex flex-col md:flex-row gap-5">
    <div class="w-full md:w-3/5">
      <div class="mb-3">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white text-left">Name<span *ngIf="movieForm.get('name')?.errors" class="error text-sm text-red-500 float-right">
            {{ movieForm.get('name')?.errors?.['serverError'] }}
        </span></label>
        <input type="text"
               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
               formControlName="name">

      </div>
      <div class="mb-3 datepicker-div">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white text-left">Release date <span *ngIf="movieForm.get('release_date')?.errors?.['serverError']" class="error text-sm text-red-500 float-right">
            {{ movieForm.get('release_date')?.errors?.['serverError'] }}
        </span></label>
        <input placeholder="MM/DD/YYYY" formControlName="release_date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" matInput formControlName="release_date" [matDatepicker]="picker">

        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>
      <div class="mb-3">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white text-left">Description</label>
        <textarea class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  rows="7"
                  formControlName="description"></textarea>

      </div>

      <div class="mb-3">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white text-left">Image</label>
        <p class="text-sm font-medium text-gray-900 text-left" *ngIf="selectedFile">Selected File: {{ selectedFile.name }}</p>
        <input type="file"
               class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
               (change)="onFileChange($event)">
      </div>
    </div>

    <div class="w-full md:w-2/5">
      <div class="mb-3">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white text-left">
          Director <span *ngIf="movieForm.get('directorId')?.errors?.['serverError']" class="error text-sm text-red-500 float-right">
            {{ movieForm.get('directorId')?.errors?.['serverError'] }}
          </span>
        </label>
        
        <input type="text"
               class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
               placeholder="search for director"
               [(ngModel)]="directorString"
               [ngModelOptions]="{standalone: true}"
               (keyup)="searchDirectors()"
               (keyup.backspace)="directorString = ''; openDirectorDialog = false;" />

        <ul id="directorDialog" class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            *ngIf="openDirectorDialog">
          <li *ngFor="let director of directorSearchResults" class="mb-3">
            <a href="#" (click)="$event.preventDefault(); selectDirector(director)">{{ director.name }}</a>
          </li>
          <hr *ngIf="directorSearchResults.length > 0" />
          <li class="mt-2">
            <a (click)="$event.preventDefault(); addNewDirector();">Add new Director</a>
          </li>
        </ul>
      </div>

      <div class="mb-3">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white text-left">Actors</label>
        <div class="flex flex-wrap gap-2 mb-2" *ngIf="movieForm.controls['actors'].value.length > 0">
          <span>Selected actors:</span>
          <div class="flex items-center bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300" *ngFor="let actor of actorsArray.controls; let i = index;">
            {{ actor.value.name }}
            <span>
              <svg (click)="removeActor(i)" class="h-6 w-6 cursor-pointer" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </span>
          </div>
        </div>
        <input type="text"
               class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
               placeholder="search for actors"
               [(ngModel)]="actorString"
               [ngModelOptions]="{standalone: true}"
               (keyup)="searchActors()"
               (keyup.backspace)="actorString = ''; openActorDialog = false;" />

        <ul id="actorDialog" class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            *ngIf="openActorDialog">
          <li *ngFor="let actor of actorSearchResults" class="mb-3">
            <a href="#" (click)="$event.preventDefault(); selectActor(actor)">{{ actor.name }}</a>
          </li>
          <hr *ngIf="actorSearchResults.length > 0" />
          <li class="mt-2">
            <a (click)="$event.preventDefault(); addNewActor();">Add new Actor</a>
          </li>
        </ul>
      </div>

      <div class="mb-3">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white text-left">Genres <span *ngIf="movieForm.get('genres')?.errors?.['serverError']" class="error text-sm text-red-500 float-right">
        {{ movieForm.get('genres')?.errors?.['serverError'] }}
        </span>
        </label>
        <div class="flex flex-wrap gap-2 mb-2" *ngIf="movieForm.controls['genres'].value.length > 0">
          <span>Selected genres:</span>
          <div class="flex items-center bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300" *ngFor="let genre of genresArray.controls; let i = index;">
            {{ genre.value.name }}
            <span>
              <svg (click)="removeGenre(i)" class="h-6 w-6 cursor-pointer" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </span>
          </div>
        </div>
        <select class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                [(ngModel)]="selectedGenre"
                [ngModelOptions]="{standalone: true}"
                (change)="selectGenre($event)">
          <option value="">Select a genre</option>
          <option *ngFor="let genre of genres; let i = index" [value]="i">{{ genre }}</option>
        </select>
      </div>
    </div>
  </div>
    <div class="mb-3 flex justify-end">
      <button type="submit"
              class="btn btn-primary text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
        Submit
      </button>
    </div>
</form>
