/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.datepicker-div {
  position: relative;
}


.mat-datepicker-toggle {
  position: absolute;
  top: 25px;
  right: 0px;
}


.image-wrapper {
    height: 252px;
    width: 170px;
    border-radius: 0.125rem;
    border: 1px solid black;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
