<div *ngIf="movie; else movieNotFoundTemplate">
  <h1 class="mb-5 text-2xl font-medium text-gray-500 text-left pl-4">{{ movie.name }}</h1>

  <div class="border-t border-gray-200 p-4 flex gap-3">
    <div>
      <dt class="text-sm font-medium text-gray-500">

      </dt>
      <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <img width="300" src="data:image/png;base64,{{movie.picture.base64}}" />
      </dd>
    </div>
    <div class="movie-info text-left">
      <div class="mb-3">
        <dt class="text-sm font-medium text-gray-500 text-lg">
          Title
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          {{movie.name}}
        </dd>
      </div>

      <div class="mb-3">
        <dt class="text-sm font-medium text-gray-500 text-lg">
          Release date
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          {{movie.releaseDate}}
        </dd>
      </div>

      <div class="mb-3">
        <dt class="text-sm font-medium text-gray-500 text-lg">
          Cast
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <span *ngFor="let actor of movie.actors.$values">
            <a class="underline" routerLink="/actor/{{actor.actorId}}">{{actor.name}}</a>&nbsp;
          </span>
        </dd>
      </div>

      <div class="mb-3">
        <dt class="text-sm font-medium text-gray-500 text-lg">
          Genre
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <span *ngFor="let genre of movie.genres.$values">
            <a [routerLink]="['/movies']" [queryParams]="{genre: genre.name}" class="underline">
              {{genre.name}}
            </a>&nbsp;
          </span>
        </dd>
      </div>

      <div class="mb-3">
        <dt class="text-sm font-medium text-gray-500 text-lg">
          Description
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          {{movie.description}}
        </dd>
      </div>

      <div class="mb-3">
        <dt class="text-sm font-medium text-gray-500 text-lg">
          Director
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <a class="underline" routerLink="/director/{{movie.director.directorId}}">
            {{movie.director.name}}
          </a>
        </dd>
      </div>
      <div class="mt-4 flex">
        <a routerLink="/edit/movie/{{ movie.movieId }}" class="focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:focus:ring-yellow-900">
          Edit
        </a>

        <a routerLink="/delete/movie/{{movie.movieId}}" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
          Delete
        </a>
      </div>
    </div>
    

  </div>
  <div>
    <h2 class="font-medium text-gray-500 text-2xl">Cast of {{ movie.name }}</h2>
    <div class="border-t border-gray-200 p-4 grid grid-cols-2 gap-6 gap-y-6 md:grid-cols-5">
      <a routerLink="/actor/{{actor.actorId}}" class="movie flex flex-col" *ngFor="let actor of movie.actors.$values">

        <div class="self-center image-wrapper">
          <img class="rounded-sm" width="150" src="data:image/png;base64,{{actor.picture.base64}}" />
        </div>
        <div class="title text-gray-500 font-medium">
          {{ actor.name }}
        </div>
      </a>
    </div>
  </div>
</div>
<ng-template #movieNotFoundTemplate>
  <div *ngIf="loading; else movieNotFound">
    <div class="lds-default"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
  </div>
  <ng-template #movieNotFound>
    <h2>Movie not found</h2>
  </ng-template>
</ng-template>
