<div *ngIf="director; else directorNotFoundTemplate">
  <h1 class="mb-5 text-2xl">{{ director.name }}</h1>

  <div class="border-t border-gray-200 p-4">
    <div>
      <dt class="text-sm font-medium text-gray-500">
        
      </dt>
      <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <img src="data:image/png;base64,{{director.picture}}" />
      </dd>
    </div>

    <div>
      <dt class="text-sm font-medium text-gray-500">
        Full name
      </dt>
      <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        {{director.name}}
      </dd>
    </div>

    <div>
      <dt class="text-sm font-medium text-gray-500">
        Date of birth
      </dt>
      <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        {{director.dateOfBirth}}
      </dd>
    </div>

    <div>
      <dt class="text-sm font-medium text-gray-500">
        Nationality
      </dt>
      <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        {{director.nationality}}
      </dd>
    </div>

    <div>
      <dt class="text-sm font-medium text-gray-500">
        Location
      </dt>
      <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        {{director.location}}
      </dd>
    </div>

    <div>
      <dt class="text-sm font-medium text-gray-500">
        Bio
      </dt>
      <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        {{director.bio}}
      </dd>
    </div>
  </div>
  <div>
    <h2>Movies by {{ director.name }}</h2>
    <div class="border-t border-gray-200 p-4 grid grid-cols-5">
      <a routerLink="/movie/{{item.movieId}}" class="movie flex flex-col" *ngFor="let item of director.movies.$values">

        <div class="self-center">
          <img class="rounded-sm" width="150" src="data:image/png;base64,{{item.picture}}" />
        </div>
        <div class="title">
          {{ item.name }}
        </div>
      </a>
    </div>
  </div>
</div>
<ng-template #directorNotFoundTemplate>
  <h2>Director not found</h2>
</ng-template>


